* {
    outline: none;
    font-family: 'Poppins', sans-serif;
}

.main {
    margin-left: 4%;
    width: 90%;
    position: absolute;
    margin-top: 10%;

    .site-logo {
        width: 100%;
        max-width: 400px;
        display: block;
        margin: 0 auto;
    }

}

.toggle {
    font-weight: bolder;
    color: rgb(133, 206, 255);
    background: none;
    border: none;
    margin-top: -10%;
    font-size: 24px;
    transition: 0.2s linear all;
}

.toggle:hover {
    cursor: pointer;
    color: gray;
}